/*html { 
	background: url(../images/FluidDynamics.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Serif", sans-serif;
  }
  comment-out the background picture
  */ 

html {
	background-color: azure;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-box {
	width: 500px;
	height: 70px;
	background: rgba(0,0,0,0.4);
	padding: 10px;
	color: white;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.profile-box {
	width: 500px;
	height: 500px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

.prof-pic{
	border-radius: 500px;
	height: 200px;
	width: 200px;
	object-fit: cover;
}

h1{
	font-weight: 350;
	letter-spacing: 5px;
	font-size: 40px;
}


p{
	font-weight: 150;
	letter-spacing: 1.5px;
}

.social-icons{
	font-size: 40px;
}

.social-icons a {
	color: white;
	text-decoration: none; /*! Removes underscore after the icon*/
}

.line-break{
	width: 320px;
	margin: 0 auto;
	border-top: 1px solid white;
}

